<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>799733583398-5cnhrks4otsrec5d6gvd9ovhigsmo905.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiBWPTNdUfqhOeURANtBaPYdQ_R9GnI88</string>
	<key>GCM_SENDER_ID</key>
	<string>799733583398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octoria</string>
	<key>PROJECT_ID</key>
	<string>speedy-league-335221</string>
	<key>STORAGE_BUCKET</key>
	<string>speedy-league-335221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799733583398:ios:2997088a83ed62f999a0e7</string>
	<key>DATABASE_URL</key>
	<string>https://speedy-league-335221-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>